    
img.personagens{
    margin-left: 400px;
    border: 8px solid rgb(255, 100, 180);   
    border-radius: 100px;
}

h1 {
    font-family: cursive;
    text-align: center;
    background-color: rgb(255, 100, 180);
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 200px;
}
body {
    background-color: rgb(255, 197, 242);
}
h2 {
    text-align: center;
    font-family: cursive;
}
ul {
    margin-left: 630px;
    list-style-type: none;
}
img.kuromi{
    margin-left: 200px;
    width: 200px;
}
img.hellokitty{
    margin-left: 200px;
    width: 200px;
}
img.mymelody{
    margin-left: 200px;
    width: 200px;
}div{
    margin-left: 100px;
}