    
img.personagens{
    margin-left: 480px;
    border: 8px solid #d6336c;   
    border-radius: 100px;
}

h1 {
    font-family: cursive;
    text-align: center;
    background-color: #d6336c;
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 200px;
}
body {
    background-color: #ffb6c1;
}
h2 {
    text-align: center;
    font-family: cursive;
}
ul {
    margin-left: 630px;
    list-style-type: none;
}
img.kuromi{
    margin-left: 250px;
    width: 200px;
}
img.hellokitty{
    margin-left: 250px;
    width: 200px;
}
img.mymelody{
    margin-left: 250px;
    width: 200px;
}
div.menu
{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    margin: 200px;
    width: 1500px; 
}

footer {
  background-color: #ffb6c1;
  text-align: center;
  padding: 15px 10px;
  border-top: 2px solid #d6336c;
  color: #d6336c;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}